<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />

</head>

<body>

<div class="">
    <h1>Checkout page</h1>
</div>

<div class="container">
    <form action="/checkout" method="post">
        <div class="container_personal_data">
            <h4>Personal data</h4>
            First name:<br>
            <input type="text" name="firstname">
            <br>
            Last name:<br>
            <input type="text" name="lastname">
            <br>
            Email:<br>
            <input type="email" name="email">
            <br>
            Phone number<br>
            <input type="number" name="phone_number">
        </div>
        <br><br>
        <div class="container_billing">
            <h4>Billing Address</h4>
            Name:<br>
            <input type="text" name="billing_name">
            <br>
            Country<br>
            <input type="text" name="billing_country">
            <br>
            City<br>
            <input type="text" name="billing_city">
            <br>
            Postal code<br>
            <input type="number" name="billing_postal_code">
            <br>
            Street<br>
            <input type="text" name="billing_street">
            <br>
            House number<br>
            <input type="text" name="billing_house_ number">
        </div>
        <br><br>
        <div class="container_shipping">
            <h4>Shipping Address</h4>
            Name:<br>
            <input type="text" name="shipping_name">
            <br>
            Country<br>
            <input type="text" name="shipping_country">
            <br>
            City<br>
            <input type="text" name="shipping_city">
            <br>
            Postal code<br>
            <input type="number" name="shipping_postal_code">
            <br>
            Street<br>
            <input type="text" name="shipping_street">
            <br>
            House number<br>
            <input type="text" name="shipping_house_ number">
        </div>
        <br><br>
        <input type="submit" value="Submit">
        <br><br>
    </form>
</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>