.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}

#cart-num {
    font-size: 2em;
    color: red;
}

div.item.col-xs-4.col-lg-4 {
    float: left;
    height: 480px;
    width: 350px;
    overflow: auto;
}

div#products.row.list-group {
    margin: 15px;
    overflow: hidden;
}

div.container-fluid {
    margin: 15px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    font-size: 14px;
    margin: 0 0 11px;
}

.list-group-item-heading{
    font-size: 20px;
}

select .selector{
    width: 200px;
    display: none;
}

form {
    /* Float both forms to the left */
    float: left;
    top: 50%;
}

.cart {
    float: right;
}

.fa-shopping-cart {
    font-size: 3em;
}

.center {
    width: 200px;
    margin: 5px auto;
}
.cart {
    float: right;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    height: 70px;
}

nav .brand {
    font-size: 5em;
}

.container{
    overflow: hidden;
}

div .filter {
    border-style: ridge;
    height: 80px;
}

div .col-sm-5 {
    display         : flex;
    justify-content : center;
    align-items     : center;
}

select#dropdown.form-control.form-control-lg.selector{
    width: 200px;
    margin-right: 15px;
}

select#dropdown2.form-control.form-control-lg.selector{
    width: 200px;
    margin-right: 15px;
}

img.list-group-image {
    max-height: 200px;
    max-width: 400px;
}

img.logo {
    width: 45px;
    height: 45px;
}